.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #130831;
  min-height: 130vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Appp-header {
  background-color: #130831;
  min-height:max-content;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.btn-neon{
  position: relative;
  display: inline-block;
  margin: 80px;
  padding: 15px 30px;
  color: #fff;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}
.btn-neon:hover{
  background: #8864e6;
  box-shadow: 0 0 10px #8864e6, 0 0 40px #8864e6, 0 0 80px #8864e6;
  transition-delay: 1s;
}
.btn-neon span{
  position: absolute;
  display: block;
}
#span1{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent,#8864e6);
}
.btn-neon:hover #span1{
  left: 100%;
  transition: 1s;
}
#span3{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,#8864e6);
}
.btn-neon:hover #span3{
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#span2{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#8864e6);
}
.btn-neon:hover #span2{
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
#span4{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#8864e6);
}
.btn-neon:hover #span4{
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}