@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  

}

* {
  box-sizing: border-box;
  
}
#bloquePrincipal{
  width: 100%;
  font-size: 2em;
  border: 4px dashed #666666;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  
}
#menuLateral{
  width: 400px;
  background-color: #e0e0e0;
  border: 2px dashed #6f66f0;
  
}
.container {
  width: 500px;
  height: 20px;
  display:list-item;
  position:unset;
  background-color: #130831;
}
.a {
  height: 25cm;
  width: 37cm;
  background-color: #130831;
}
.fondo{
  background-color: #130831;
}
.title3 {
  line-height: 1.15;
  font-size: 1.5rem;
  padding-bottom: 0px;
  font-family: 'Courier New', Courier, monospace;
  text-align:center;
  display: block;
	font-weight: 600;
	color: #fff;
}
.title4 {
  display: block;
  margin:1cm;
	font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
	font-size: 25px;
	margin-bottom: 10px;
	color: #ffffff;
}

.title5 {
  display: inline-block;
  vertical-align: top;
  position:relative ;
  margin:0cm;
  line-height: 1.15;
  font-size: 5rem;
  padding-bottom: 0px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align:center;
  color: #fff;
  background-color: #130831;
}

.title6 {
  position:relative ;
  margin:1.5cm;
  line-height: 1.15;
  font-size: 3rem;
  padding-bottom: 0px;
  font-family: 'Courier New', Courier, monospace;
  text-align:center;
  color: #fff;
}

.title7 {
  line-height: 0.5;
  font-size: 1.5rem;
  padding-bottom: 0px;
  font-family: 'Courier New', Courier, monospace;
	font-weight: 600;
	color: #fff;
}
.title8 {
  margin:0.2cm;
  line-height: 1.15;
  font-size: 1rem;
  padding-bottom: 0px;
  font-family: 'Courier New', Courier, monospace;
}
main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  border: 1px solid rgb(243, 11, 11);
  max-width: 700px;
}

footer {
  width: 100%;
  height: 80px;
  border-top: 1px solid #130831;
  display:block;
  justify-content: center;
  align-items: center;
  background-color: #fff;

}

footer img {
  margin-left: 0.5rem;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  border-bottom: 1px solid #999999;
  width: 100%;
  background-color: #eaeaea;
}

.menu a {
  margin: 10px 20px 10px 20px;
  border-bottom: 3px solid #e0e0e0;
  padding-bottom: 10px;
  text-align: center;
}

.currentPage {
  border-bottom: 3px solid #0070f3 !important;
  color: #333333;
}

.counter {
  font-size: 0.7em;
  padding-left: 25px;
  border: 0px !important;
}
.counter button {
  padding: 1px 10px;
  margin: 0;
  font-size: 0.8em;
  cursor: pointer;
}

.todo-item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.todo-item-title {
  flex: 10;
}
.todo-item-done {
  flex: 1;
}

.title a {
  color: #fff;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  color: #2007ff;

  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  padding-bottom: 10px;
}

.title,
.description {
  text-align: left;
}

.description {
  line-height: 1.5;
  font-size: 1.2rem;
  font-family:'Times New Roman', Times, serif;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  
}

.card {
  margin: 1rem;
  flex-basis: 80%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
  background-color: #ebf4ff;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.tarjeta{
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border: 1px solid #666666;
  width: 400px;
  margin-bottom: 20px;
}
.tarjeta-1{
  padding: 5px 10px 5px 20px;
}
.tarjeta-0{
  width: 50px;
  text-align: center;
  background-color: #0070f3;
  border-radius: 20px 0px 0px 20px;
}

/* SEGUNDA PESTAÑA*/
.title {
  margin:0cm;
  line-height: 1.15;
  font-size: 3.5rem;
  padding-bottom: 0px;
  font-family: 'Courier New', Courier, monospace;
  text-align:center;
}

.description {
  line-height: 1.5;
  font-size: 1.6rem;
  text-align:left;
  margin: 1cm;
}

.title2 {
  margin:0cm;
  line-height: 1.15;
  font-size: 1rem;
  padding-bottom: 0px;
  font-family: 'Courier New', Courier, monospace;
  text-align:center;
}

/* BARRA */
.custom-select {
  position:relative;
  right: 1.5cm;
  display: block;
  max-width: 400px;
  min-width: 100px;
  margin: 0 auto;
  border: 1px solid #3C1C78;
  background-color: rgb(255, 255, 255);
  opacity: 0.85;
  z-index: 10;
  top: 50px;
}
.custom-select select {
  border:#714BB9;
  outline: none;
  background:scroll;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 12px 55px 15px 15px;
  font-size: 20px;
  color: #9266e4;
  
  
}
.custom-select:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  line-height: 50px;
  content: "▼";
  text-align: center;
  color: #714BB9;
  font-size: 24px;
  border-left: 1px solid #3C1C78;
  z-index: -1;
  
}

/* LAYAOUT*/

/* BOTON SUBIR MATERIAL*/
.btn-neon2{
  left: 48%;
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 10px 20px;
  color: #fff;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 16px;
  overflow: hidden;
  transition: 0.2s;
}
.btn-neon2:hover{
  background: #48a1b8;
  box-shadow: 0 0 10px #48a1b8, 0 0 40px #48a1b8, 0 0 80px #48a1b8;
  transition-delay: 0.5s;
}
.btn-neon2 span{
  position: absolute;
  display: block;
}
#spans1{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent,#48a1b8);
}
.btn-neon2:hover #spans1{
  left: 100%;
  transition: 0.5s;
}
#spans3{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,#48a1b8);
}
.btn-neon2:hover #spans3{
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#spans2{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#48a1b8);
}
.btn-neon2:hover #spans2{
  top: 100%;
  transition: 1s;
  transition-delay: 0.125s;
}
#spans4{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#48a1b8);
}
.btn-neon2:hover #spans4{
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.375s;
}

/* BOTON VOLVER AL INICIO*/
.btn-neon3{
  right: 43%;
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 10px 20px;
  color: #fff;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 16px;
  overflow: hidden;
  transition: 0.125s;
}
.btn-neon3:hover{
  background:#48a1b8;
  box-shadow: 0 0 10px #48a1b8, 0 0 40px #48a1b8, 0 0 80px #48a1b8;
  transition-delay: 0.5s;
}
.btn-neon3 span{
  position: absolute;
  display: block;
}
#spanss1{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent,#48a1b8);
}
.btn-neon3:hover #spanss1{
  left: 100%;
  transition: 0.5s;
}
#spanss3{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,#48a1b8);
}
.btn-neon3:hover #spanss3{
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#spanss2{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#48a1b8);
}
.btn-neon3:hover #spanss2{
  top: 100%;
  transition: 1s;
  transition-delay: 0.125s;
}
#spanss4{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#48a1b8);
}
.btn-neon3:hover #spanss4{
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.375s;
}

/* BARRAS DE INPUT*/

.formulario {
	min-width: 700px;
	margin-top: 60px;
	background: #130831;
	border-radius: 5px;
	padding: 20px;
}

.formulario > div {
	margin-bottom: 20px;
}

.formulario label {
	display: block;
	font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
	font-size: 25px;
	margin-bottom: 10px;
	color: #ffffff;
}

.formulario input,
.formulario textarea {
	font-family: 'Courier New', Courier, monospace;
	width: 100%;
	border-radius: 5px;
	border: 2px solid #ffffff;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	color: #ffffff;
}

.formulario input:focus {
	outline: none;
	border: 2px solid #8864e6;
}

.formulario .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
}

.formulario button[type="submit"] {
	display: block;
	background: #0085FF;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: rgb(255, 255, 255);
	font-size: 16px;
	transition: .3s ease all;
}

.formulario button[type="submit"]:hover {
	background: #0051ff;
}

.formulario .exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: #02a802;
}

.formulario input[type="radio"] {
	width: auto;
}

/* BOTON BUSCAR*/
.btn-neonb{
  left: 6cm;
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 4px 4px;
  color: #fff;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 30px;
  overflow: hidden;
  transition: 0.2s;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  top: -0.6cm;
}
.btn-neonb:hover{
  background: #8864e6;
  box-shadow: 0 0 10px #8864e6, 0 0 40px #8864e6, 0 0 80px #8864e6;
  transition-delay: 0s;
}

/*BARRA DE BUSQUEDA 2*/
.custom-selectt {
  position:relative;
  display: block;
  max-width: 400px;
  min-width: 100px;
  left: 4.5cm;
  margin: -1cm;
  border: 1px solid #3C1C78;
  background-color: #fff;
  opacity: 0.85;
  z-index: 10;
  top: 50px;
}
.custom-selectt select {
  border:#714BB9;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 12px 55px 15px 15px;
  font-size: 20px;
  color: #714BB9;
}
.custom-selectt:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  line-height: 50px;
  content: "▼";
  text-align: center;
  color: #714BB9;
  font-size: 24px;
  border-left: 1px solid #3C1C78;
  z-index: -1;
}

.img{
  left: 16cm;
  margin: 0cm;
}

.img2{
  
  margin: 0.2cm;
  
}

.btn-neonlink{
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 10px 20px;
  color: #fff;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: 0.2s;
}
.btn-neonlink:hover{
  background: #8864e6;
  box-shadow: 0 0 10px #8864e6, 0 0 40px #8864e6, 0 0 80px #8864e6;
  transition-delay: 0s;
}

.container2{
  margin:4cm;
  width: 50%;
  border: 1px solid #8864e6;
  background-color: #3C1C78;
  padding: 10px;
}

.add-btn {
  float: right;
  background-color: red;
  color: #fff;
}

.btn-neonx{
  float: right;
  padding: 2px 2px;
  color: rgb(234, 15, 15);
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: 0.2s;
  width: 30px;
  height: 30px;
  top: -0.6cm;
}
.btn-neonx:hover{
  background: #8864e6;
  box-shadow: 0 0 10px #8864e6, 0 0 40px #8864e6, 0 0 80px #8864e6;
  transition-delay: 0s;
}



.star {
  color: rgb(147, 142, 142);
  opacity: 100;
  
}

.star:hover {
  
  fill: #d4de61;
  color: #d4de61;
  opacity: 1;
  transition: opacity 500ms;
}
.star:focus{
  fill: #d4de61;
  color: #d4de61;
}

