<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>ESTUDIO</title>
    <link rel="stylesheet" href="Estilo 2.css">
</head>
<body>
    <video muted autoplay loop>
        <source src="A.mp4" type="video/mp4">  <!-- Video.mp4 -->
    </video>
    <label class="custom-select" for="styledSelect1">
        <select id="styledSelect1" name="options">
            <option disabled selected="">SELECCIONE ASIGNATURA</option>
            <optgroup label="PRIMER SEMESTRE">
                <option value="1">ÁLGEBRA PARA INGENIERÍA</option>
                <option value="2">GEOMETRÍA PARA INGENIERÍA</option>
            </optgroup>
            
            <optgroup label="SEGUNDO SEMESTRE">
                <option value="3">ÁLGEBRA LINEAL PARA INGENIERÍA</option>
                <option value="4">CÁLCULO EN UNA VARIABLE</option>
            </optgroup>
            
            <optgroup label="TERCER SEMESTRE">
                <option value="5">FÍSICA: MECÁNICA</option>
                <option value="6"> 	ECUACIONES DIFERENCIALES PARA INGENIERÍA</option>
                <option value="7">CÁLCULO EN VARIAS VARIABLES</option>
                <option value="8">ESTRUCTURA DE DATOS Y ALGORITMOS</option>
            </optgroup>
            
            <optgroup label="CUARTO SEMESTRE">
                <option value="9">FÍSICA: ONDAS Y ELECTROMAGNETISMO</option>
                <option value="10">MÉTODOS NUMÉRICOS PARA INGENIERÍA</option>
                <option value="11">CÁLCULO EN UNA VARIABLE</option>
                <option value="12">FÍSICA: MECÁNICA</option>
                <option value="13">ECUACIONES DIFERENCIALES PARA INGENIERÍA</option>
                <option value="14">ESTRUCTURAS DISCRETAS</option>
            </optgroup>
            
            <optgroup label="QUINTO SEMESTRE">
                <option value="9">ARQUITECTURA DE COMPUTADORES </option>
                <option value="10">TEORÍA DE AUTÓMATAS</option>
                <option value="11">DISEÑO Y ANÁLISIS DE ALGORITMOS</option>
            </optgroup>
            
            <optgroup label="SEXTO SEMESTRE">
                <option value="9">PROGRAMACIÓN EN PARADIGMAS FUNCIONAL Y PARALELO</option>
            </optgroup>

            <optgroup label="SEPTIMO SEMESTRE">
                <option value="9">COMUNICACIONES</option>
                <option value="10">INTELIGENCIA ARTIFICIAL</option>
            </optgroup>

            <optgroup label="OCTAVO SEMESTRE">
                <option value="9">REDES</option>
                <option value="10">TALLER DE INGENIERÍA DE SOFTWARE</option>
            </optgroup>

            <optgroup label="NOVENO SEMESTRE">
                <option value="9">SISTEMAS DISTRIBUIDOS</option>
            </optgroup>
        </select>
    </label>
    <button class="Buscar">
        🔍︎
        </button>
</body>
</html>