<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>ESTUDIO</title>
    <link rel="stylesheet" href="Estilo 1.css">
</head>
<body>
    <div class ="Imagen">
        <img src="./24OD.gif" alt="imagen"> 
    </div>

    <a href="#" class="btn-neon">
        <span id="span1"></span>
        <span id="span2"></span>
        <span id="span3"></span>
        <span id="span4"></span>
        BUSCAR MATERIAL
    </a>
    <a href="#" class="btn-neon">
        <span id="span1"></span>
        <span id="span2"></span>
        <span id="span3"></span>
        <span id="span4"></span>
        QUIENES SOMOS
    </a>
</body>
</html>